shoppingonline/src/main/resources/schema/customerSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost:8080/shoppingonline/customerSchema" xmlns:tns="http://localhost:8080/shoppingonline/customerSchema" elementFormDefault="qualified">
	<element name="getCustomerAvailableAmountRequest">
		<complexType>
			<sequence>
				<element name="customerAvailableAmount" type="string" />
			</sequence>
		</complexType>
	</element>
	
	<element name="getCustomerAvailableAmountResponse">
		<complexType>
			<sequence>
				<element name="customerAvailableAmount" type="double" />
			</sequence>
		</complexType>
	</element>
</schema>